@import url(https://fonts.googleapis.com/css?family=Audiowide);

body {
  background-color: #333333;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 2em;
}
#bg {
  background-color: darkgray;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
p {
  margin: 0;
  padding: 0;
  color: white;
  white-space: normal;
  /* text-shadow: black 1px 1px 2px; */
}

#calculator {
  background-color: #343a40;
  display: flex;
  border: 1px black solid;
  box-shadow: 2px 2px 4px #000;
  border-radius: 5px;
  padding: 2vw;
}
.screen {
  grid-area: display;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #747f7f;
  width: 100%;
  overflow-wrap: break-word;
  /* height: 100%; */
  flex-grow: 0;
  font-family: "Audiowide", cursive;
  margin-top: 1vh;
  margin-bottom: 2vh;
  /* padding: 1vh 1vw; */
  text-align: right;
  color: white;
  border: 1px black solid;
  border-radius: 5px;
  box-shadow: inset 1px 1px 4px 0px #050505, 0px 0px 0px 0px #000;
}
.screen:hover {
  background: rgba(56, 62, 37, 1);
}
#display {

  width: 95%;
  padding: 0.2em;
  overflow-wrap: break-word;
  text-align: right;
  color: white;
  font-weight: bold;
  font-size: 0.4em;
  /* background-color: blue; */
}
#inputScreen {

  width: 95%;
  overflow-wrap: break-word;
  padding: 0.2em;
  color: white;
  font-weight: bold;
  font-size: 0.4em;
  /* background-color: blue; */
}
.operator {
  grid-area: operator;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.number {
  grid-area: number;
  display: grid;
  justify-items: center;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  padding: 0;
}
.decimal {
  grid-area: decimal;
  padding: 0;
  margin: 0;
}
.zeroToHero {
  grid-area: zeroToHero;
  padding: 0;
  margin: 0;
}
.equal {
  grid-area: equal;
  padding: 0;
  margin: 0;
}
.clear {
  grid-area: clear;
  display: flex;
  padding: 0;
  margin: 0;
}
.operator2 {
  grid-area: operator2;
  display: flex;
  padding: 0;
  margin: 0;
}
.pad-bank {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: 100px 50px 50px 50px 50px 50px;
  grid-template-areas:
    "display display display display"
    "clear clear operator2 operator2"
    "number number number operator"
    "number number number operator"
    "number number number equal"
    "zeroToHero zeroToHero decimal equal";
  justify-content: center;
  align-content: center;
  padding: 0;
  margin: 0;
}

.controls-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
  flex-grow: 0;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 0.4em;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  opacity: 1;
  border-radius: 5px;
}
button:hover {
  cursor: pointer;
  opacity: 0.8;
}
